.comment {
    font-size: 0.8rem;
    margin: 16px;
}

.comment_hide {
    padding: 4px;
    cursor: pointer;
}

.comments_hidden {
    display: none;
}

.comment_author {
    color: gray;
    margin-bottom: 8px;
}